/* Colors */
:root {
	--color-blue: #1831e7;
	--color-blue-1: #4a68ed;
	--color-blue-2: #6674db;
	--color-blue-3: #97a3f7;
	--color-blue-4: #bdc5ff;

	--color-white: #fafafa;
	--color-white-1: #eeedf4;
	--color-white-2: #dedeeb;
	--color-white-only: #fafafa;

	--color-gray: #afafaf;
	--color-gray-1: #494949;

	--color-black: #0d0a16;
	--color-black-1: #1b1925;
	--color-black-2: #282636;

	--color-red: #d52038;
	--color-red-1: #d52038;
	--color-red-2: #ec5168;

	--color-green: #15e584;
	--color-green-1: #2dcd82;
	--color-green-2: #65e1a7;

	--color-orange: #f9a23e;
	--color-orange-1: #e39945;
	--color-orange-2: #e39945;
	--color-orange-3: #eeb97c;
	--color-orange-3: #ecc597;

	--color-gray: #9b9a9f;

	/* Pokemons Types Colors */
	--color-eau: #4556d3;
	--color-normal: #6d6f6d;
	--color-feu: #b11b2f;
	--color-plante: #0a7f49;
	--color-electric: #d1aa0a;
	--color-glace: #4a5df2;
	--color-combat: #bb6707;
	--color-poison: #923fcc;

	--color-sol: #915121;
	--color-vol: #6171ff;
	--color-psy: #de1256;
	--color-insecte: #6b770d;

	--color-roche: #7a734d;
	--color-spectre: #704170;
	--color-dragon: #475aff;
	--color-tenebre: #50413f;
	--color-acier: #3e798e;
	--color-fee: #e723e7;
}
