/* Colors */
:root {
	--color-blue: #1327b7;
	--color-blue-1: #1b41e9;
	--color-blue-2: #3d4fd1;
	--color-blue-3: #697af3;
	--color-blue-4: #8c9aff;

	--color-white: #0d0a16;
	--color-white-1: #13111c;
	--color-white-2: #282636;
	--color-white-3: #12101b;
	--color-white-only: #fafafa;

	--color-gray: #494949;
	--color-gray-1: #afafaf;

	--color-black: #fafafa;
	--color-black-1: #eeedf4;
	--color-black-2: #dedee9;
	--color-black-3: #dddddd;

	--color-red: #d52038;
	--color-red-1: #d52038;
	--color-red-2: #b61b30;

	--color-green: #11b86a;
	--color-green-1: #23a166;
	--color-green-2: #3ad98f;

	--color-orange: #f88a0c;
	--color-orange-1: #d68120;
	--color-orange-2: #e8a04d;
	--color-orange-3: #e5ae6f;
	--color-orange-4: #e5ae6f;

	--color-gray: #5e5e5e;

	/* Pokemons Types Colors */
	--color-eau: #4556d3;
	--color-normal: #6d6f6d;
	--color-feu: #b11b2f;
	--color-plante: #0a7f49;
	--color-electric: #d1aa0a;
	--color-glace: #4a5df2;
	--color-combat: #A75C06;
	--color-poison: #923fcc;

	--color-sol: #915121;
	--color-vol: #4D5EFF;
	--color-psy: #de1256;
	--color-insecte: #6b770d;

	--color-roche: #7a734d;
	--color-spectre: #704170;
	--color-dragon: #2b39b4;
	--color-tenebre: #50413f;
	--color-acier: #3e798e;
	--color-fee: #C115C1;
}
