/************** Container **************/
.container {
	padding: var(--padding-left-right-large);
}

/************** Header **************/
#headerPage {
	padding: var(--padding-top-bottom-medium);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#headerPage img {
	height: 2.5rem;
	width: auto;
}

.spaceGap {
	display: flex;
	gap: var(--gap-large);
	align-items: center;
}

/************** Buttons and Inputs **************/
.cta,
#search {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	gap: var(--gap-small);
	padding: var(--padding-medium);
	align-items: center;
	border-radius: var(--border-radius-small);
	transition: transform 0.1s ease-in-out;
	cursor: pointer;
}

.cta:hover,
#evolutionBtn,
#aboutBtn,
#searchSubmit,
#darkLightMode {
	transform: scale(1.02);
	cursor: pointer;
}

#darkLightMode img {
	width: 24px;
	height: auto;
}

/* Form Search */
#search {
	background-color: var(--color-black-1);
}

form {
	display: flex;
	align-items: center;
}

#searchSubmit {
	opacity: 0;
	z-index: 1;
}
#searchInput {
	color: var(--color-white-only);
}

form div {
	position: relative;
	display: flex;
	border-radius: var(--border-radius-small);
	align-items: center;
	justify-content: center;
}

form > div i {
	position: absolute;
	padding: var(--padding-medium);
	background-color: var(--color-black-2);
	color: var(--color-white);
	border-radius: var(--border-radius-small);
}

.primaryButton {
	background-color: var(--color-red-1);
	color: var(--color-white-only);
	transition: transform 0.1s ease-in-out;
}

.primaryButton:hover,
.circleActive:hover {
	background-color: var(--color-red-2);
}

.secondaryButton {
	border: 1px solid var(--color-white);
	color: var(--color-white);
	transition: transform 0.1s ease-in-out;
}

/* Team Pokemon */
.secondaryButton:hover,
.circle:not(.circleActive):hover {
	background-color: var(--color-black-2);
}

.circle:not(.circleActive):hover {
	transition: transform 0.1s ease-in-out;
	background-color: var(--color-gray-1);
}

/************** Main **************/
main {
	width: 100%;
}

/* Variable Bg color */
.bgColor {
	background-color: var(--dynamic-color);
}

/************** Zf **************/
#zf {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap-large);
	min-height: 90vh;
	align-items: center;
	padding: var(--padding-extra);
	overflow: hidden;
}

#zf .PokemonInfos {
	min-width: 40rem;
	background-color: var(--color-black);
	padding: var(--padding-large);
	border-radius: var(--border-radius-medium);
	z-index: 1;
}

#zf .PokemonInfos .sectionCardNav {
	padding: var(--padding-top-bottom-large);
	display: flex;
	justify-content: space-between;
	gap: var(--gap-medium);
}

#zf .PokemonInfos .sectionCardNav div {
	padding-top: var(--padding-medium);
	display: flex;
	gap: var(--gap-medium);
}

/* Statistiques and Team */
#zf .PokemonInfos .sectionInformations,
.sectionDescription,
.sectionsStatistiques {
	border-top: var(--color-gray) solid 1px;
	padding: var(--padding-top-bottom-medium);
	display: flex;
	gap: var(--gap-large);
}

.PokemonInfos .sectionInformations > div,
.sectionDescription,
.sectionsStatistiques {
	display: flex;
	flex-direction: column;
	gap: var(--gap-medium);
}

.PokemonInfos .sectionInformations .sectionType > div {
	display: flex;
	gap: var(--gap-medium);
}

/* Zf box */
.PokemonInfos .sectionsStatistiques .zones {
	margin: var(--margin-top-bottom-medium);
	padding: var(--padding-medium);
	background-color: var(--color-black-1);
	border-radius: var(--border-radius-small);
}

/* Zf stats */
.PokemonInfos .sectionsStatistiques .statistiques div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap-small);
	grid-template-rows: auto;
}

.PokemonInfos .sectionsStatistiques .team div {
	display: flex;
	padding: var(--padding-top-bottom-medium);
	align-items: center;
	gap: var(--gap-medium);
}

.PokemonInfos .sectionsStatistiques .statistiques .secondaryText {
	grid-column: 1/3;
}

/* Pokeball Circle */
.circle {
	background-color: var(--color-gray);
	padding: var(--padding-small);
	border-radius: 50%;
	width: auto;
	height: 2rem;
}

.circleActive {
	background-color: var(--color-red-1);
}


/************** Types pokemons **************/
.typePokemon {
	display: flex;
	gap: var(--gap-small);
	padding: var(--padding-small);
	border-radius: var(--border-radius-big);
	align-items: center;
	color: var(--color-white-only);
}

#zf .PokemonInfos .sectionInformations #typesPokemons {
	padding: var(--padding-medium);
}

.typePokemon img,
.circle img {
	width: 100%;
	height: auto;
	width: auto;
	height: 100%;
	object-fit: contain;
}

.typePokemon div {
	height: 1.5rem;
	width: 1.5rem;
	display: flex;
	align-items: center;
}

/* Type Pokemon Colors */
.colorBtnEau {
	background-color: var(--color-eau);
}
.colorBtnNormal {
	background-color: var(--color-normal);
}
.colorBtnFeu {
	background-color: var(--color-feu);
}
.colorBtnPlante {
	background-color: var(--color-plante);
}
.colorBtnElectric {
	background-color: var(--color-electric);
}
.colorBtnGlace {
	background-color: var(--color-glace);
}
.colorBtnCombat {
	background-color: var(--color-combat);
}
.colorBtnPoison {
	background-color: var(--color-poison);
}

.colorBtnSol {
	background-color: var(--color-sol);
}
.colorBtnVol {
	background-color: var(--color-vol);
}
.colorBtnPsy {
	background-color: var(--color-psy);
}
.colorBtnInsecte {
	background-color: var(--color-insecte);
}

.colorBtnRoche {
	background-color: var(--color-roche);
}
.colorBtnSpectre {
	background-color: var(--color-spectre);
}
.colorBtnDragon {
	background-color: var(--color-dragon);
}
.colorBtnTenebre {
	background-color: var(--color-tenebre);
}
.colorBtnAcier {
	background-color: var(--color-acier);
}
.colorBtnFee {
	background-color: var(--color-fee);
}

.colorBtnUnknown {
	background-color: var(--color-fee);
}

.colorBtnStar {
	background-color: var(--color-fee);
}

/************** Figures **************/
#figurePokemonZf {
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
}

#figurePokemonZf #bgPokeball {
	background-image: url('../IMG/Pokéball-Image-Fond.png');
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	width: 60rem;
	height: 60rem;
	transform: rotate(-45deg);
}

#figurePokemonZf img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
}

/************** Section On bill **************/
#pokemonPromoted {
	padding: var(--padding-top-bottom-large);
}
#pokemonPromoted header div {
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--padding-small);
}

#pokemonPromoted header .subText {
	display: block;
	padding: var(--padding-top-bottom-large);
}

/* Section Grid */
#pokemonPromoted #gridPokemon {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: var(--gap-medium);
}

#evolution #gridPokemon {
	display: flex;
	flex-direction: column;
	gap: var(--gap-medium);
	background-color: var(--color-black-1);
	padding: var(--padding-medium);
	border-radius: var(--border-radius-medium);
}

/************** Aticles **************/
#gridPokemon article {
	background-color: var(--color-black-1);
	padding: var(--padding-medium);
	border-radius: var(--border-radius-medium);
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--gap-small);
	align-items: center;
}

/* Acticles On the bill */
#pokemonPromoted #gridPokemon article {
	background-color: var(--color-black-1);
}

/* Acticles Evolution */
#evolution #gridPokemon article {
	background-color: var(--color-black-2);
}

#evolution {
	border-top: var(--color-gray) solid 1px;
	padding: var(--padding-top-bottom-medium);
	gap: var(--gap-large);
}

/* Class hidden */
.hidden {
	display: none;
}

#gridPokemon article:hover {
	transition: transform 0.1s ease-in-out;
	transform: scale(1.01);
}

#gridPokemon img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

#gridPokemon .flexTypes {
	display: flex;
	align-items: center;
	gap: var(--gap-medium);
}

#gridPokemon article > div {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
	padding: var(--padding-medium);
}

#gridPokemon article > div {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
	padding: var(--padding-medium);
}

#gridPokemon article > div .cta {
	margin-top: var(--margin-small);
	align-self: flex-end;
}

/************** Footer **************/
#footerPage {
	padding: var(--padding-top-bottom-large);
	display: flex;
	flex-direction: column;
	gap: var(--gap-large);
}

#footerPage #primaryContent {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	align-items: center;
	gap: var(--gap-large);
}

#footerPage .secondaryContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/* Loader Wrapper (animation de https://lazyjinchuriki.github.io/) */
.loaderWrapper {
    --curtain-color: var(--color-black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* Rideaux */
.loaderWrapper .loaderSection {
    position: fixed;
    top: 0;
    background: var(--curtain-color);
    width: 51%;
    height: 100%;
    z-index: 1000;
}

.loaderWrapper .loaderSection.sectionLeft {
    left: 0;
}

.loaderWrapper .loaderSection.sectionRight {
    right: 0;
}

/* Animation de disparition */
.loaded .loaderWrapper .loaderSection.sectionLeft {
    transform: translateX(-100%);
    transition: transform 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .loaderWrapper .loaderSection.sectionRight {
    transform: translateX(100%);
    transition: transform 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .loaderWrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s 1s ease-out, visibility 0s 1.3s;
}



/************** Media **************/
/* Media 1200px large screen */
@media (max-width: 1440px) {
	#pokemonPromoted #gridPokemon {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		gap: var(--gap-medium);
	}
}

/* Media 1200px large screen */
@media (max-width: 1200px) {
	#zf .PokemonInfos {
		min-width: 0;
	}
	#zf .PokemonInfos .sectionInformations {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	#zf .PokemonInfos .sectionInformations .sectionType {
		grid-column: 1/3;
	}
	#zf .PokemonInfos .sectionCardNav {
		flex-wrap: wrap;
	}

	#footerPage #primaryContent {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto auto;
		align-items: flex-start;
	}
}

/* Media 992px small desktop */
@media (max-width: 992px) {
	#zf {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		width: 100%;
		padding: 0;
	}
	#zf .PokemonInfos {
		display: flex;
		flex-direction: column;
		order: 2;
		border-radius: 1rem 1rem 0 0;
	}

	#zf .PokemonInfos .sectionInformations {
		grid-template-columns: 1fr 1fr 1fr;
	}

	#zf .PokemonInfos .sectionInformations .sectionType {
		grid-column: 1/1;
	}

	#pokemonPromoted #gridPokemon img {
		max-width: 60%;
	}

	#pokemonPromoted header {
		align-items: center;
		text-align: center;
		margin-bottom: var(--margin-medium);
	}

	#pokemonPromoted header > div {
		flex-direction: column;
	}
	#pokemonPromoted header > div {
		flex-direction: column;
	}

	#pokemonPromoted header .spaceGap {
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--gap-medium);
	}

	#pokemonPromoted #gridPokemon article {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
	}

	#pokemonPromoted #gridPokemon article figure {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#pokemonPromoted #gridPokemon article > div {
		gap: var(--gap-medium);
		padding: 0;
	}

	#pokemonPromoted #gridPokemon article .flexTypes {
		display: grid;
		grid-template-columns: min-content min-content;
	}

	#pokemonPromoted #gridPokemon article > div .cta {
		grid-column: 1/3;
	}

	#zf #team {
		order: -1;
		border: none;
	}

	#zf #team .secondaryText {
		display: none;
	}

	.PokemonInfos .sectionsStatistiques .team div {
		display: flex;
		justify-content: center;
	}
}

/* Media 768px tablette */
@media (max-width: 768px) {
	#headerPage .spaceGap {
		display: none;
	}
	#headerPage {
		display: flex;
		justify-content: center;

	}
	#pokemonPromoted #gridPokemon {
		grid-template-columns: 1fr;
	}

	.PokemonInfos .sectionInformations {
		grid-template-columns: 1fr 1fr;
	}

	.PokemonInfos .sectionInformations .sectionType {
		grid-column: 1 / 3;
	}

	#figurePokemonZf #bgPokeball {
		width: 40rem;
		height: 40rem;
	}
}

/* Media 520px smartphone */
@media (max-width: 520px) {
	#zf {
		grid-template-rows: 1fr auto;
	}
	.PokemonInfos .sectionsStatistiques .statistiques {
		display: flex;
		flex-direction: column;
	}

	.PokemonInfos .sectionCardNav .cta {
		width: 100%;
	}
}