/************** Container **************/
.container {
	padding: var(--padding-left-right-large);
}

/************** Header **************/
#sticky {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--color-black);
}

#headerPage {
	padding: var(--padding-top-bottom-medium);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#headerPage img {
	height: 2.5rem;
	width: auto;
}

.spaceGap {
	display: flex;
	gap: var(--gap-large);
	align-items: center;
}

#darkLightMode img {
	width: 1.5rem;
	height: auto;
}

/* Form Search */
#search {
	background-color: var(--color-black-2);
	color: var(--color-white-only);
}

form {
	display: flex;
	align-items: center;
	gap: var(--gap-small);
}

#searchSubmit {
	opacity: 0;
	width: 3rem;
	z-index: 1;
}

form div {
	position: relative;
	display: flex;
	border-radius: var(--border-radius-small);
	align-items: center;
	justify-content: center;
}

form > div i {
	position: absolute;
	padding: var(--padding-medium);
	background-color: var(--color-black-2);
	color: var(--color-white);
	border-radius: var(--border-radius-small);
}

.label {
	display: hidden;
}

/************** Buttons and Inputs **************/
.cta,
#search {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	gap: var(--gap-small);
	padding: var(--padding-medium);
	align-items: center;
	border-radius: var(--border-radius-small);
	transition: transform 0.1s ease-in-out;
	cursor: pointer;
}

.cta:hover,
#evolutionBtn,
#aboutBtn,
input #darkLightMode {
	transform: scale(1.02);
	cursor: pointer;
}

.primaryButton {
	background-color: var(--color-red-1);
	color: var(--color-white-only);
}

.primaryButton:hover {
	background-color: var(--color-red-2);
}

.secondaryButton {
	border: 1px solid var(--color-white);
	color: var(--color-white);
}

.disableButton {
	border: 1px solid var(--color-gray);
	color: var(--color-white-only);
	background-color: var(--color-gray-1);
}

.disableButton:hover {
	transform: none;
}

/* Team Pokémon */
.secondaryButton:hover {
	background-color: var(--color-gray-1);
}

.activeHover {
	background-color: var(--color-gray);
}

/* Icônes de pokéballs pour l'équipe */
.circle {
	padding: var(--padding-small);
	border-radius: 50%;
	width: auto;
	height: 2rem;
	transition: transform 0.4s ease-in-out;
}

.circle:not(.circleActive):not(.activeHover) {
	background-color: var(--color-black-2);
}

.circleActive,
.activeHover:not(.circleActive):hover {
	background-color: var(--color-red-1);
}

/************** Zf **************/
/* Zf sur toutes les pages */
#zf {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap-large);
	min-height: 90vh;
	align-items: center;
	padding: var(--padding-extra);
	overflow: hidden;
}

#zf .PokemonName {
	padding-bottom: var(--padding-small);
}

#zf .PokemonInfos {
	background-color: var(--color-black);
	padding: var(--padding-large);
	border-radius: var(--border-radius-medium);
	z-index: 1;
}

#zf .PokemonInfos .sectionCardNav {
	align-items: center;
	padding: var(--padding-top-bottom-medium);
	display: flex;
	justify-content: space-between;
	gap: var(--gap-medium);
}

#zf .PokemonInfos .sectionCardNav div {
	padding-top: var(--padding-medium);
	display: flex;
	gap: var(--gap-medium);
}

/* Statistiques et Équipe */
#zf .sectionInformations,
.sectionDescription,
.sectionsStatistiques {
	border-top: var(--color-gray) solid 1px;
	padding: var(--padding-top-bottom-medium);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--gap-medium);
}

.PokemonInfos .sectionInformations > div,
.sectionDescription,
.sectionsStatistiques {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
}

.PokemonInfos .sectionType > div {
	display: flex;
	gap: var(--gap-medium);
}

/* Zf box */
.containerColor {
	padding: var(--padding-medium);
	background-color: var(--color-black-1);
	border-radius: var(--border-radius-small);
}

/* Zf stats */
.PokemonInfos .sectionsStatistiques .statistiques div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap-small);
	grid-template-rows: auto;
}

.PokemonInfos .sectionsStatistiques #team div {
	display: flex;
	padding: var(--padding-top-bottom-medium);
	align-items: center;
	gap: var(--gap-medium);
}

.PokemonInfos .sectionsStatistiques .statistiques .secondaryText {
	grid-column: 1/3;
}

#zf #team .containerColor div {
	padding: var(--padding-small);
	display: flex;
	gap: var(--gap-medium);
	flex-wrap: wrap;
}

/* Page d'erreur */
#figurePokemonZf #Missingno {
	height: 35rem;
}

/************** Alert Messages **************/

/* Messages d'alertes, pour voir les autres transitions, voir line 548 */
#alertMessage {
	position: absolute;
	display: flex;
	align-items: center;
	gap: var(--gap-small);
	justify-content: center;
	z-index: 20;
	box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
	transition:
		right 0.6s cubic-bezier(0.645, 0.045, 0.355, 1),
		opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	top: 1rem;
	right: -30rem;
	margin-left: var(--margin-large);
	padding: var(--padding-medium);
	border-radius: var(--border-radius-small);
	opacity: 0;
}

#alertMessage.popup {
	right: 2rem;
	opacity: 1;
}

#alertMessage.hide {
	right: -30rem;
	opacity: 0;
}

/************** Types pokemons **************/
.typePokemon {
	display: flex;
	gap: var(--gap-small);
	padding: var(--padding-small);
	border-radius: var(--border-radius-big);
	align-items: center;
	color: var(--color-white-only);
}

.typePokemon img,
.circle img {
	width: auto;
	height: 100%;
	object-fit: contain;
}

.typePokemon div {
	display: flex;
	align-items: center;
}

/* Type Pokemon Colors */
.colorBtnEau {
	background-color: var(--color-eau);
}
.colorBtnNormal {
	background-color: var(--color-normal);
}
.colorBtnFeu {
	background-color: var(--color-feu);
}
.colorBtnPlante {
	background-color: var(--color-plante);
}
.colorBtnElectric {
	background-color: var(--color-electric);
}
.colorBtnGlace {
	background-color: var(--color-glace);
}
.colorBtnCombat {
	background-color: var(--color-combat);
}
.colorBtnPoison {
	background-color: var(--color-poison);
}

.colorBtnSol {
	background-color: var(--color-sol);
}
.colorBtnVol {
	background-color: var(--color-vol);
}
.colorBtnPsy {
	background-color: var(--color-psy);
}
.colorBtnInsecte {
	background-color: var(--color-insecte);
}

.colorBtnRoche {
	background-color: var(--color-roche);
}
.colorBtnSpectre {
	background-color: var(--color-spectre);
}
.colorBtnDragon {
	background-color: var(--color-dragon);
}
.colorBtnTenebre {
	background-color: var(--color-tenebre);
}
.colorBtnAcier {
	background-color: var(--color-acier);
}
.colorBtnFee {
	background-color: var(--color-fee);
}

.colorBtnUnknown {
	background-color: var(--color-fee);
}

.colorBtnStar {
	background-color: var(--color-fee);
}

/************** Figures **************/
#figurePokemonZf {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

#figurePokemonZf #bgPokeball {
	background-image: url('../IMG/Pokéball-Image-Fond.png');
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	width: 60rem;
	height: 60rem;
	transform: rotate(-45deg);
}

#figurePokemonZf img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
}

/************** Section Featured Pokemon **************/
#pokemonPromoted {
	position: relative;
	overflow: hidden;
	padding: var(--padding-top-bottom-large);
}
#pokemonPromoted #header div {
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--padding-small);
}

#pokemonPromoted #header .subText {
	display: block;
	padding: var(--padding-top-bottom-large);
}

/* Sections Grids */
#pokemonPromoted #gridPokemon {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: var(--gap-medium);
}

#evolution #gridPokemon {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto(auto 1fr 1fr);
	gap: var(--gap-medium);
	background-color: var(--color-black-1);
	padding: var(--padding-medium);
	border-radius: var(--border-radius-medium);
}

/************** Aticles **************/
#gridPokemon article {
	background-color: var(--color-black-1);
	padding: var(--padding-medium);
	border-radius: var(--border-radius-medium);
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--gap-small);
	align-items: center;
}

/* Pokémons à l'affiche */
#pokemonPromoted #gridPokemon article {
	background-color: var(--color-black-1);
}

/* Pokémons évolutions */
#evolution #gridPokemon article {
	background-color: var(--color-black-2);
}

#evolution {
	border-top: var(--color-gray) solid 1px;
	padding: var(--padding-top-bottom-medium);
	gap: var(--gap-large);
}

/* Class hidden */
.hidden {
	display: none;
}

#gridPokemon article:hover {
	transition: transform 0.2s ease-in-out;
	transform: scale(1.01);
}

#gridPokemon img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

#gridPokemon .flexTypes {
	display: flex;
	align-items: center;
	gap: var(--gap-medium);
}

article > div {
	display: grid;
	grid-template-columns: auto min-content;
	grid-template-rows: auto auto auto 1fr;
	height: 100%;
	gap: var(--gap-small);
}

article > div span:not(.subText) {
	grid-column: 1/2;
	grid-row: 2/3;
}

article > div .flexTypes {
	grid-column: 1/2;
	grid-row: 3/4;
	flex-wrap: wrap;
}

article > div .btnArticle {
	align-self: end;
	grid-column: 2/3;
	grid-row: 4/5;
}

/************** Footer **************/
#footerPage {
	padding: var(--padding-top-bottom-large);
	display: flex;
	flex-direction: column;
	gap: var(--gap-large);
}

#footerPage #primaryContent {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	align-items: center;
	gap: var(--gap-large);
}

#footerPage .secondaryContent {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

ul {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
}

/************** Animation start **************/
/* Loader Wrapper (animation de https://lazyjinchuriki.github.io/) */
.loaderWrapper {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

/* Rideaux */
.loaderWrapper .loaderSection {
	position: fixed;
	top: 0;
	background: var(--color-black);
	width: 51%;
	height: 100%;
	z-index: 10;
}

.loaderWrapper .loaderSection.sectionLeft {
	left: 0;
}

.loaderWrapper .loaderSection.sectionRight {
	right: 0;
}

.loader {
	align-self: center;
	justify-self: center;
	display: block;
	position: relative;
	width: 10rem;
	height: 10rem;
	margin: 0 auto;
	animation: spin 2s linear infinite;
	z-index: 11;
}

.loaded .loader {
	opacity: 0;
	transition: all 0.4s ease-out;
}

fieldset {
	display: flex;
	gap: var(--gap-small);
}

/* Animation de disparition */
.loaded .loaderWrapper .loaderSection.sectionLeft {
	transform: translateX(-100%);
	transition: transform 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .loaderWrapper .loaderSection.sectionRight {
	transform: translateX(100%);
	transition: transform 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .loaderWrapper {
	visibility: hidden;
	transform: translateY(-100%);
	transition:
		transform 0.3s 1s ease-out,
		visibility 0s 1.3s;
}

/************** Media **************/
/* Media 1200px large screen */
@media (max-width: 1440px) {
	#pokemonPromoted #gridPokemon {
		grid-template-columns: 1fr 1fr;
	}
}

/* Media 1200px large screen */
@media (max-width: 1200px) {
	#zf .PokemonInfos {
		min-width: 0;
	}
	#zf .PokemonInfos .sectionInformations {
		grid-template-columns: 1fr 1fr;
	}

	#zf .PokemonInfos .sectionInformations .sectionType {
		grid-column: 1/3;
	}
	#zf .PokemonInfos .sectionCardNav {
		flex-wrap: wrap;
	}
}

/* Media 992px small desktop */
@media (max-width: 992px) {
	#zf {
		/* Change la disposition pour une seule ligne avec l'image au dessus */
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		width: 100%;
		padding: 0;
	}
	#zf .PokemonInfos {
		display: flex;
		flex-direction: column;
		order: 2;
		border-radius: 1rem 1rem 0 0;
	}

	#zf .PokemonInfos .sectionInformations {
		grid-template-columns: 1fr 1fr 2fr;
	}

	#zf .PokemonInfos .sectionInformations .sectionType {
		grid-column: 1/1;
	}

	#pokemonPromoted #header {
		align-items: center;
		text-align: center;
		margin-bottom: var(--margin-medium);
	}

	#pokemonPromoted #header > div {
		flex-direction: column;
	}

	#gridPokemon img {
		max-width: 60%;
	}

	#pokemonPromoted #header .spaceGap {
		gap: var(--gap-small);
		justify-content: center;
		flex-wrap: wrap;
	}

	#pokemonPromoted #header legend {
		padding-bottom: var(--padding-small);
	}

	#gridPokemon article {
		grid-template-columns: 1fr;
		gap: var(--gap-medium);
		grid-template-rows: 1fr min-content;
	}

	#gridPokemon article .btnArticle {
		grid-column: 1/3;
	}

	#gridPokemon article figure {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	article > div {
		grid-template-columns: 1fr 1fr;
		padding: 0;
	}

	#gridPokemon article .flexTypes {
		grid-column: 2/3;
		grid-row: 1/3;
		display: grid;
		justify-self: end;
		grid-template-rows: min-content min-content;
	}

	/* Changement de pokémon dans la page Équipe */
	#zf #team {
		order: -1;
		border: none;
	}

	#zf #team .secondaryText {
		display: none;
	}

	#zf #team .containerColor div {
		padding: 0;
		display: flex;
		gap: var(--gap-medium);
		justify-content: center;
	}

	#footerPage #primaryContent {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto auto;
		align-items: flex-start;
	}
}

/* Media 768px tablette */
@media (max-width: 768px) {
	#headerPage .spaceGap {
		gap: var(--gap-small);
	}

	#headerPage #search {
		width: 8rem;
	}

	#pokemonPromoted #gridPokemon {
		grid-template-columns: 1fr;
	}

	#zf .PokemonInfos .sectionInformations {
		grid-template-columns: 1fr 1fr;
	}

	#zf .PokemonInfos .sectionInformations .sectionType {
		grid-column: 1/3;
	}

	#figurePokemonZf #bgPokeball {
		width: 45rem;
		height: 45rem;
	}

	/* Page d'erreur */
	#figurePokemonZf #Missingno {
		height: 25rem;
	}
}

/* Media 520px smartphone */
@media (max-width: 520px) {
	/* Change le header */
	#headerPage {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto min-content;
		flex-wrap: wrap;
		gap: var(--gap-small);
	}

	#headerPage a {
		justify-self: center;
	}

	#headerPage .spaceGap {
		display: grid;
		grid-template-columns: min-content 1fr min-content;
		gap: var(--gap-small);
		grid-template-rows: min-content;
		justify-content: space-between;
		width: 100%;
	}

	#headerPage form {
		grid-column: 2/3;
	}
	#headerPage #search {
		width: 100%;
		min-width: 4rem;
	}

	#headerPage #teamButton {
		grid-column: 3/4;
	}

	#headerPage #teamButton span {
		display: none;
	}

	#zf {
		grid-template-rows: 40rem 1fr;
	}
	.sectionCardNav div {
		width: 100%;
	}

	.PokemonInfos .sectionCardNav .cta {
		width: 100%;
	}
}
