/* Container */
.container {
	width: 1440px;
	margin: 0 auto;
	padding: var(--padding-left-right-large);
}

/* Header */
#headerPage {
	padding: var(--padding-top-bottom-medium);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#headerPage img {
	height: 2.5rem;
	width: auto;
}

.spaceGap {
	display: flex;
	gap: var(--gap-large);
	align-items: center;
}

/* Btn */
.cta,
#search {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	gap: var(--gap-small);
	padding: var(--padding-medium);
	align-items: center;
	border-radius: var(--border-radius-small);
}

#search {
	background-color: var(--color-black-1);
}

form {
	display: flex;
	align-items: center;
	gap: var(--gap-small);
}

#searchSubmit {
	opacity: 0;
}

form div {
	position: relative;
	width: 2rem;
	height: 100%;
	display: flex;
	gap: var(--gap-medium);
	margin: var(--margin-left-right-large);
	border-radius: var(--border-radius-small);
	align-items: center;
	justify-content:center ;

}

form>div * {
	position: absolute;
	padding: var(--padding-medium);
}

.primaryButton {
	background-color: var(--color-red-1);
	color: var(--color-white-only);
}

.secondaryButton {
	border: 1px solid var(--color-white);
	color: var(--color-white);
}
/* Main */
main {
	width: 100%;
}

/* Variable Bg color */
.bgColor {
	background-color: var(--color-blue-4);
}

/* Zf */
#zf {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap-large);
	min-height: 90vh;
	align-items: center;
	padding: var(--padding-extra);
}

#zf .PokemonInfos {
	min-width: 40rem;
	background-color: var(--color-black);
	padding: var(--padding-large);
	border-radius: var(--border-radius-medium);
}

#zf .PokemonInfos .sectionCardNav {
	padding: var(--padding-top-bottom-large);
	display: flex;
	justify-content: space-between;
	gap: var(--gap-medium);
}

#zf .PokemonInfos .sectionCardNav div {
	padding-top: var(--padding-medium);
	display: flex;
	gap: var(--gap-medium);
}

#zf .PokemonInfos .sectionInformations,
.sectionDescription,
.sectionsStatistiques {
	border-top: var(--color-gray) solid 1px;
	padding: var(--padding-top-bottom-medium);
	display: flex;
	gap: var(--gap-large);
}

#zf .PokemonInfos .sectionInformations > div,
.sectionDescription,
.sectionsStatistiques {
	display: flex;
	flex-direction: column;
	gap: var(--gap-medium);
}

#zf .PokemonInfos .sectionInformations .sectionType div {
	display: flex;
	gap: var(--gap-medium);
}

/* Zf box */
#zf .PokemonInfos .sectionsStatistiques .zones {
	margin: var(--marrgin-top-bottom-medium);
	padding: var(--padding-medium);
	background-color: var(--color-black-1);
	border-radius: var(--border-radius-small);
}

/* Zf stats */
#zf .PokemonInfos .sectionsStatistiques .statistiques div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap-small);
	grid-template-rows: auto;
}

#zf .PokemonInfos .sectionsStatistiques .team div {
	display: flex;
	padding: var(--padding-top-bottom-medium);
	align-items: center;
	gap: var(--gap-medium);
}

#zf .PokemonInfos .sectionsStatistiques .statistiques .secondaryText {
	grid-column: 1/3;
}

/* Zf figure */
#zf #figurePokemonZf {
	background-image: url('../IMG/Pokéball-Image-Fond.png');
	background-position: center;
	background-repeat: no-repeat;
	justify-content: center;
	background-size: contain;
	display: flex;
}

#zf #figurePokemonZf img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

/* Section on the bill */
#pokemonPromoted {
	padding: var(--padding-top-bottom-large);
}
#pokemonPromoted header div {
	display: flex;
	justify-content: space-between;
	padding-bottom: var(--padding-small);
}

#pokemonPromoted header .subText {
	display: block;
	padding: var(--padding-top-bottom-large);
}

/* Section Grid */
#pokemonPromoted #gridPokemon {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: var(--gap-medium);
}

/* Acticles */
#pokemonPromoted #gridPokemon article {
	background-color: var(--color-black-1);
	padding: var(--padding-medium);
	border-radius: var(--border-radius-medium);
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--gap-small);
	align-items: center;
}

#pokemonPromoted #gridPokemon img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

#pokemonPromoted #gridPokemon .flexTypes {
	display: flex;
	align-items: center;
	gap: var(--gap-medium);
}

#pokemonPromoted #gridPokemon article > div {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
	padding: var(--padding-medium);
}

#pokemonPromoted #gridPokemon article > div {
	display: flex;
	flex-direction: column;
	gap: var(--gap-small);
	padding: var(--padding-medium);
}

#pokemonPromoted #gridPokemon article > div .cta {
	align-self: flex-end;
}

/* Footer Pages */
#footerPage {
	padding: var(--padding-top-bottom-large);
	display: flex;
	flex-direction: column;
	gap: var(--gap-large);
}

#footerPage #primaryContent {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	align-items: center;
	gap: var(--gap-large);
}

#footerPage .secondaryContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#footerPage .secondaryContent div * {
	padding: var(--padding-left-right-small);
}

/* Type Pokemon Style */
#zf .PokemonInfos .sectionInformations #typesPokemons span,
.typePokemon {
	display: flex;
	gap: var(--gap-small);
	padding: var(--padding-small);
	border-radius: var(--border-radius-big);
}

#zf .PokemonInfos .sectionInformations #typesPokemons {
	padding: var(--padding-medium);
}

.typePokemon {
	display: flex;
	gap: var(--gap-small);
	padding: var(--padding-small);
	border-radius: var(--border-radius-big);
}

/* Type Pokemon Colors */
.colorBtnEau {
	background-color: var(--color-eau);
	color: var(--color-white-only);
}
.colorBtnNormal {
	background-color: var(--color-normal);
	color: var(--color-white-only);
}
.colorBtnFeu {
	background-color: var(--color-feu);
	color: var(--color-white-only);
}
.colorBtnPlante {
	background-color: var(--color-plante);
	color: var(--color-white-only);
}
.colorBtnElectric {
	background-color: var(--color-electric);
	color: var(--color-white-only);
}
.colorBtnGlace {
	background-color: var(--color-glace);
	color: var(--color-white-only);
}
.colorBtnCombat {
	background-color: var(--color-combat);
	color: var(--color-white-only);
}
.colorBtnPoison {
	background-color: var(--color-poison);
	color: var(--color-white-only);
}

.colorBtnSol {
	background-color: var(--color-sol);
	color: var(--color-white-only);
}
.colorBtnVol {
	background-color: var(--color-vol);
	color: var(--color-white-only);
}
.colorBtnPsy {
	background-color: var(--color-psy);
	color: var(--color-white-only);
}
.colorBtnInsecte {
	background-color: var(--color-insecte);
	color: var(--color-white-only);
}

.colorBtnRoche {
	background-color: var(--color-roche);
	color: var(--color-white-only);
}
.colorBtnSpectre {
	background-color: var(--color-spectre);
	color: var(--color-white-only);
}
.colorBtnDragon {
	background-color: var(--color-dragon);
	color: var(--color-white-only);
}
.colorBtnTenebre {
	background-color: var(--color-tenebre);
	color: var(--color-white-only);
}
.colorBtnAcier {
	background-color: var(--color-acier);
	color: var(--color-white-only);
}
.colorBtnFee {
	background-color: var(--color-fee);
	color: var(--color-white-only);
}

.colorBtnUnknown {
	background-color: var(--color-fee);
	color: var(--color-white-only);
}

.colorBtnStar {
	background-color: var(--color-fee);
	color: var(--color-white-only);
}

/* Pokeball Circle */
.circle {
	background-color: var(--color-gray);
	padding: var(--padding-small);
	border-radius: 50%;
}

.circle img {
	width: 1.5rem;
}

.circleActive {
	background-color: var(--color-red-1);
}

/* Media 1200px large screen */
@media (max-width: 1440px) {
	.container {
		width: 1140px;
	}
}

/* Media 1200px large screen */
@media (max-width: 1200px) {
	.container {
		width: 992px;
	}

	#zf .PokemonInfos {
		min-width: 0;
	}
	#zf .PokemonInfos .sectionInformations {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	#zf .PokemonInfos .sectionInformations .sectionType {
		grid-column: 1/3;
	}

	#pokemonPromoted #gridPokemon {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		gap: var(--gap-medium);
	}
	#footerPage #primaryContent {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto auto;
		align-items: flex-start;
	}
}

/* Media 992px small desktop */
@media (max-width: 992px) {
	.container {
		width: 100%;
		padding: var(--padding-large);
	}

	#zf {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		width: 100%;
		padding: 0;
	}
	#zf .PokemonInfos {
		display: flex;
		flex-direction: column;
		order: 2;
		border-radius: 1rem 1rem 0 0;
	}

	#zf .PokemonInfos .sectionInformations {
		grid-template-columns: 1fr 1fr 1fr;
	}

	#zf .PokemonInfos .sectionInformations .sectionType {
		grid-column: 1/1;
	}

	#pokemonPromoted header {
		align-items: center;
		text-align: center;
		margin-bottom: var(--margin-medium);
	}

	#pokemonPromoted header > div {
		flex-direction: column;
	}
	#pokemonPromoted header > div {
		flex-direction: column;
	}

	#pokemonPromoted header .spaceGap {
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--gap-medium);
	}

	#pokemonPromoted #gridPokemon article {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	#pokemonPromoted #gridPokemon article figure {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#pokemonPromoted #gridPokemon article > div {
		gap: var(--gap-medium);
		padding: 0;
	}

	#pokemonPromoted #gridPokemon article > div .cta {
		align-self: stretch;
	}

	#footerPage {
		padding: 0;
	}

	#zf #team {
		order: -1;
		border: none;
	}

	#zf #team .secondaryText {
		display: none;
	}

	#zf .PokemonInfos .sectionsStatistiques .team div {
		display: flex;
		justify-content: center;
	}
}

/* Media 768px tablette */
@media (max-width: 768px) {
	#headerPage .spaceGap {
		display: none;
	}
	#headerPage {
		display: flex;
		justify-content: center;
		padding: 0;
	}
	#pokemonPromoted #gridPokemon {
		grid-template-columns: 1fr;
	}

	#zf .PokemonInfos .sectionInformations {
		grid-template-columns: 1fr 1fr;
	}

	#zf .PokemonInfos .sectionInformations .sectionType {
		grid-column: 1 / 3;
	}
}

/* Media 520px smartphone */
@media (max-width: 520px) {
	#zf {
		grid-template-rows: 1fr 2fr;
	}
	#zf .PokemonInfos .sectionsStatistiques .statistiques {
		display: flex;
		flex-direction: column;
	}
	#zf .PokemonInfos .sectionCardNav {
		flex-wrap: wrap;
	}
	#zf .PokemonInfos .sectionCardNav .cta {
		width: 100%;
	}
}
