/* Les variables de base */
:root {
	--font-main: 'Montserrat', sans-serif;
	--font-weight-bold: 600;
	--font-weight-extra-bold: 700;
	--font-weight-black: 900;

	/* Fonts sizes */
	--text-size-small: 1rem;
	--text-size-medium: 1.2rem;
	--text-size-large: 1.4rem;
	--text-size-extra: 2.8rem;

	/* Borders */
	--border-radius-small: 0.5rem;
	--border-radius-medium: 1rem;
	--border-radius-big: 2rem;
	--border-radius-circle: 50%;

	/* Margin and padding */
	--margin-small: 0.5rem;
	--margin-left-right-small: 0.5rem 0;
	--margin-medium: 1rem;
	--margin-left-right-medium: 1rem 0;
	--margin-large: 2rem;
	--margin-left-right-large: 2rem 0;
	--margin-extra: 4rem;
	--margin-left-right-extra: 4rem 0;
	--margin-top-bottom-small: 0.5rem 0;
	--margin-top-bottom-medium: 1rem 0;
	--margin-top-bottom-large: 2rem 0;

	--padding-small: 0.5rem;
	--padding-medium: 1rem;
	--padding-large: 1.5rem;
	--padding-extra: 2rem;
	--padding-left-right-small: 0 0.5rem;
	--padding-left-right-medium: 0 1rem;
	--padding-left-right-large: 0 1.5rem;
	--padding-left-right-extra: 4rem 0;
	--padding-top-bottom-large: 2rem 0;
	--padding-top-bottom-extra: 4rem 0;
	--padding-top-bottom-medium: 1rem 0;

	--gap-small: 0.5rem;
	--gap-medium: 1rem;
	--gap-large: 2rem;
	--gap-extra: 4rem;
}

/* Body */
body {
	background-color: var(--color-black);
	color: var(--color-white);
	font-family: var(--font-main);
}

/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	color: inherit;
	font: inherit;
	text-decoration: none;
	list-style: none;
	border: none;
}

button,
select {
	all: unset;
	display: inline-block;
}

/* Fonts */
h1,
h2,
.titleText {
	font-size: var(--text-size-extra);
	font-weight: var(--font-weight-black);
	display: block;
}

.subText {
	font-size: var(--text-size-large);
	font-weight: var(--font-weight-extra-bold);
	display: block;
}

i {
	font-size: var(--text-size-medium);
}

h3,
h4,
h5,
button,
a,
input,
span,
p,
textarea,
label,
select {
	font-size: var(--text-size-small);
	font-weight: var(--font-weight-bold);
}

.secondaryText,
.subText {
	color: var(--color-gray);
	font-weight: var(--font-weight-bold);
}

.redText {
	color: var(--color-red-2);
}
